@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LogInFailed>
        <RedirectToLogin/>
    </LogInFailed>
    <LogOutSucceeded>
        <p>Logged out succeeded</p>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Href="/">
            Go to Home
        </MudButton>
    </LogOutSucceeded>
</RemoteAuthenticatorView>